*{
    font-size: 2rem;
    margin: 1rem;
}

.esconder{
    display: none;
}

#submit{
    width: 40px;
    height: 40px;
}

#pizza-container{
    border: 1px solid orange;
}

#pizza-container > h2{
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
}   